.idea/.name
.idea/misc.xml
cv2game/combined.jpg
cv2game/img1.jpeg
cv2game/img2.jpeg
cv2game/.ipynb_checkpoints/mosaic-checkpoint.ipynb
flask-webcam-stream/pip req.txt
flask-webcam-stream/pip req.txt.bak
flask-webcam-stream/working.png
flask-webcam-stream/images/1.jpg
flask-webcam-stream/images/2.jpg
flask-webcam-stream/images/3.jpg
flask-webcam-stream/templates/index.html.bak
flask-webcam-stream/templates/index2.html.bak
gpx-tools/.ipynb_checkpoints/gpx-parser-checkpoint.ipynb
gpx-tools/.ipynb_checkpoints/map_000-checkpoint.html
mosaic/collage.jpg
mosaic/cropped_collage_1.jpg
mosaic/cropped_collage.jpg
mosaic/Ein Jahr in Bildern.jpg
mosaic/mosaic.ipynb
mosaic/.ipynb_checkpoints/mosaic-checkpoint.ipynb
mosaic/data/Selfies 2022/IMG_4959.JPG
mosaic/data/Selfies 2022/IMG_5197.JPG
mosaic/data/Selfies 2022/IMG_5365 (1).JPG
mosaic/data/Selfies 2022/IMG_5367.JPG
mosaic/data/Selfies 2022/IMG_5370.JPG
mosaic/data/Selfies 2022/IMG_20211231_192207.jpg
mosaic/data/Selfies 2022/IMG_20220112_132912.jpg
mosaic/data/Selfies 2022/IMG_20220218_174810.jpg
mosaic/data/Selfies 2022/IMG_20221018_175029.jpg
mosaic/data/Selfies 2022/IMG_20221022_110220.jpg
mosaic/data/Selfies 2022/IMG_20221107_130237.jpg
mosaic/data/Selfies 2022/IMG_20221120_122918.jpg
mosaic/data/Selfies 2022/IMG_20221202_165717.jpg
mosaic/data/Selfies 2022/IMG-20220217-WA0031.jpg
mosaic/data/Selfies 2022/IMG-20220306-WA0009.jpg
mosaic/data/Selfies 2022/IMG-20220308-WA0028.jpg
mosaic/data/Selfies 2022/IMG-20220417-WA0010.jpg
mosaic/data/Selfies 2022/IMG-20220504-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220524-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220606-WA0001.jpg
mosaic/data/Selfies 2022/IMG-20220617-WA0010.jpg
mosaic/data/Selfies 2022/IMG-20220623-WA0006.jpg
mosaic/data/Selfies 2022/IMG-20220626-WA0004.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0006.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0009.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220722-WA0000.jpg
mosaic/data/Selfies 2022/IMG-20220727-WA0015.jpg
mosaic/data/Selfies 2022/IMG-20220826-WA0000.jpg
mosaic/data/Selfies 2022/IMG-20220910-WA0003.jpg
mosaic/data/Selfies 2022/IMG-20221002-WA0005.jpg
mosaic/data/Selfies 2022/IMG-20221012-WA0019.jpg
mosaic/data/Selfies 2022/Keafer3.jpg
mosaic/data/Selfies 2022/Snapchat-2135171117.jpg
mqtt/client.py
mqtt/client1.py
mqtt/mqtt-websockets-links.txt
mqtt/mqtt-websockets-links.txt.bak
mqtt/neu 4.html
mqtt/neu 4.txt
mqtt/Server.py
steering-wheel-arduino/old/controller-input-manager.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad-2.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad-diff.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad.py
steering-wheel-arduino/old/sensors.png
steering-wheel-arduino/old/read_rotary/read_rotary.ino
steering-wheel-arduino/old/read_rotary_interrupt/read_rotary_interrupt.ino
steering-wheel-arduino/old/read_rotary_interrupt - Kopie/read_rotary_interrupt.ino
steering-wheel-arduino/old/read_rotary_interrupt_analog/read_rotary_interrupt_analog.ino
steering-wheel-arduino/old/read_rotary_joystick/read_rotary_joystick.ino
mqtt_disk_monitor/login.py
steering-wheel-arduino/pinout_arduino nano.png
.idea/.name
.idea/misc.xml
flask-webcam-stream/webcam-webserver.py
fs22-xml-damage/vehicles.xml
mqtt_disk_monitor/__pycache__/login.cpython-310.pyc
risk-matrix/riskmatrix.png
steering-wheel-arduino/controller-input-manager.py
steering-wheel-arduino/py-gamepad-working-bigdeadzone.py
steering-wheel-arduino/py-gamepad-working.py
steering-wheel-arduino/read-serial-to-virtualgamepad-2.py
steering-wheel-arduino/read-serial-to-virtualgamepad-diff.py
steering-wheel-arduino/read-serial-to-virtualgamepad.py
steering-wheel-arduino/sensors.png
steering-wheel-arduino/read_rotary/read_rotary.ino
steering-wheel-arduino/read_rotary_interrupt/read_rotary_interrupt.ino
steering-wheel-arduino/read_rotary_interrupt - Kopie/read_rotary_interrupt.ino
steering-wheel-arduino/read_rotary_interrupt_analog/read_rotary_interrupt_analog.ino
steering-wheel-arduino/read_rotary_joystick/read_rotary_joystick.ino
