.idea/.name
.idea/misc.xml
cv2game/combined.jpg
cv2game/img1.jpeg
cv2game/img2.jpeg
cv2game/.ipynb_checkpoints/mosaic-checkpoint.ipynb
flask-webcam-stream/pip req.txt
flask-webcam-stream/pip req.txt.bak
flask-webcam-stream/working.png
flask-webcam-stream/images/1.jpg
flask-webcam-stream/images/2.jpg
flask-webcam-stream/images/3.jpg
flask-webcam-stream/templates/index.html.bak
flask-webcam-stream/templates/index2.html.bak
gpx-tools/.ipynb_checkpoints/gpx-parser-checkpoint.ipynb
gpx-tools/.ipynb_checkpoints/map_000-checkpoint.html
mosaic/collage.jpg
mosaic/cropped_collage_1.jpg
mosaic/cropped_collage.jpg
mosaic/Ein Jahr in Bildern.jpg
mosaic/mosaic.ipynb
mosaic/.ipynb_checkpoints/mosaic-checkpoint.ipynb
mosaic/data/Selfies 2022/IMG_4959.JPG
mosaic/data/Selfies 2022/IMG_5197.JPG
mosaic/data/Selfies 2022/IMG_5365 (1).JPG
mosaic/data/Selfies 2022/IMG_5367.JPG
mosaic/data/Selfies 2022/IMG_5370.JPG
mosaic/data/Selfies 2022/IMG_20211231_192207.jpg
mosaic/data/Selfies 2022/IMG_20220112_132912.jpg
mosaic/data/Selfies 2022/IMG_20220218_174810.jpg
mosaic/data/Selfies 2022/IMG_20221018_175029.jpg
mosaic/data/Selfies 2022/IMG_20221022_110220.jpg
mosaic/data/Selfies 2022/IMG_20221107_130237.jpg
mosaic/data/Selfies 2022/IMG_20221120_122918.jpg
mosaic/data/Selfies 2022/IMG_20221202_165717.jpg
mosaic/data/Selfies 2022/IMG-20220217-WA0031.jpg
mosaic/data/Selfies 2022/IMG-20220306-WA0009.jpg
mosaic/data/Selfies 2022/IMG-20220308-WA0028.jpg
mosaic/data/Selfies 2022/IMG-20220417-WA0010.jpg
mosaic/data/Selfies 2022/IMG-20220504-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220524-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220606-WA0001.jpg
mosaic/data/Selfies 2022/IMG-20220617-WA0010.jpg
mosaic/data/Selfies 2022/IMG-20220623-WA0006.jpg
mosaic/data/Selfies 2022/IMG-20220626-WA0004.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0006.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0009.jpg
mosaic/data/Selfies 2022/IMG-20220720-WA0011.jpg
mosaic/data/Selfies 2022/IMG-20220722-WA0000.jpg
mosaic/data/Selfies 2022/IMG-20220727-WA0015.jpg
mosaic/data/Selfies 2022/IMG-20220826-WA0000.jpg
mosaic/data/Selfies 2022/IMG-20220910-WA0003.jpg
mosaic/data/Selfies 2022/IMG-20221002-WA0005.jpg
mosaic/data/Selfies 2022/IMG-20221012-WA0019.jpg
mosaic/data/Selfies 2022/Keafer3.jpg
mosaic/data/Selfies 2022/Snapchat-2135171117.jpg
mqtt/client.py
mqtt/client1.py
mqtt/mqtt-websockets-links.txt
mqtt/mqtt-websockets-links.txt.bak
mqtt/neu 4.html
mqtt/neu 4.txt
mqtt/Server.py
steering-wheel-arduino/old/controller-input-manager.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad-2.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad-diff.py
steering-wheel-arduino/old/read-serial-to-virtualgamepad.py
steering-wheel-arduino/old/sensors.png
steering-wheel-arduino/old/read_rotary/read_rotary.ino
steering-wheel-arduino/old/read_rotary_interrupt/read_rotary_interrupt.ino
steering-wheel-arduino/old/read_rotary_interrupt - Kopie/read_rotary_interrupt.ino
steering-wheel-arduino/old/read_rotary_interrupt_analog/read_rotary_interrupt_analog.ino
steering-wheel-arduino/old/read_rotary_joystick/read_rotary_joystick.ino
mqtt_disk_monitor/login.py
steering-wheel-arduino/pinout_arduino nano.png
.idea/.name
.idea/misc.xml
flask-webcam-stream/webcam-webserver.py
fs22-xml-damage/vehicles.xml
mqtt_disk_monitor/__pycache__/login.cpython-310.pyc
risk-matrix/riskmatrix.png
steering-wheel-arduino/controller-input-manager.py
steering-wheel-arduino/py-gamepad-working-bigdeadzone.py
steering-wheel-arduino/py-gamepad-working.py
steering-wheel-arduino/read-serial-to-virtualgamepad-2.py
steering-wheel-arduino/read-serial-to-virtualgamepad-diff.py
steering-wheel-arduino/read-serial-to-virtualgamepad.py
steering-wheel-arduino/sensors.png
steering-wheel-arduino/read_rotary/read_rotary.ino
steering-wheel-arduino/read_rotary_interrupt/read_rotary_interrupt.ino
steering-wheel-arduino/read_rotary_interrupt - Kopie/read_rotary_interrupt.ino
steering-wheel-arduino/read_rotary_interrupt_analog/read_rotary_interrupt_analog.ino
steering-wheel-arduino/read_rotary_joystick/read_rotary_joystick.ino
parsePDF/reports
immo-saver/9e502d39-4fca-45a7-93d9-3641ffa03b9a
immo-saver/9e502d39-4fca-45a7-93d9-3641ffa03b9a.jpg
immo-saver/14b461f7-8a3e-4882-9bab-8a93e57a212d
immo-saver/14b461f7-8a3e-4882-9bab-8a93e57a212d.jpg
immo-saver/33f188f8-dcb3-475b-96b1-c538c5df7ffd
immo-saver/33f188f8-dcb3-475b-96b1-c538c5df7ffd.jpg
immo-saver/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d
immo-saver/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d.jpg
immo-saver/8253a7a1-a5b6-427a-8c2d-4a3f7369640c
immo-saver/8253a7a1-a5b6-427a-8c2d-4a3f7369640c.jpg
immo-saver/101150dc-e8c7-4998-837a-282a2b893e77
immo-saver/101150dc-e8c7-4998-837a-282a2b893e77.jpg
immo-saver/ac207db1-5697-4160-befd-97a5e760f797
immo-saver/ac207db1-5697-4160-befd-97a5e760f797.jpg
immo-saver/db143738-b0df-4815-8127-7c811b3c6691
immo-saver/db143738-b0df-4815-8127-7c811b3c6691.jpg
immo-saver/e2c44ee1-df4f-418d-b554-94eb06a7714b
immo-saver/e2c44ee1-df4f-418d-b554-94eb06a7714b.jpg
immo-saver/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b
immo-saver/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b.jpg
immo-saver/Einfamilienwohnhaus mit schönem Grundstück, Garage und Nebengelass in Muldestausee.txt
immo-saver/f8c99340-3a1d-40ce-b084-0a3249ae285a
immo-saver/f8c99340-3a1d-40ce-b084-0a3249ae285a.jpg
immo-saver/Wohnen im Grünen Idyllisches Einfamilienhaus in Spröda.txt
immo-saver/Muldestausee.jpg/9e502d39-4fca-45a7-93d9-3641ffa03b9a
immo-saver/Muldestausee.jpg/9e502d39-4fca-45a7-93d9-3641ffa03b9a.jpg
immo-saver/Muldestausee.jpg/14b461f7-8a3e-4882-9bab-8a93e57a212d
immo-saver/Muldestausee.jpg/14b461f7-8a3e-4882-9bab-8a93e57a212d.jpg
immo-saver/Muldestausee.jpg/33f188f8-dcb3-475b-96b1-c538c5df7ffd
immo-saver/Muldestausee.jpg/33f188f8-dcb3-475b-96b1-c538c5df7ffd.jpg
immo-saver/Muldestausee.jpg/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d
immo-saver/Muldestausee.jpg/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d.jpg
immo-saver/Muldestausee.jpg/8253a7a1-a5b6-427a-8c2d-4a3f7369640c
immo-saver/Muldestausee.jpg/8253a7a1-a5b6-427a-8c2d-4a3f7369640c.jpg
immo-saver/Muldestausee.jpg/101150dc-e8c7-4998-837a-282a2b893e77
immo-saver/Muldestausee.jpg/101150dc-e8c7-4998-837a-282a2b893e77.jpg
immo-saver/Muldestausee.jpg/ac207db1-5697-4160-befd-97a5e760f797
immo-saver/Muldestausee.jpg/ac207db1-5697-4160-befd-97a5e760f797.jpg
immo-saver/Muldestausee.jpg/db143738-b0df-4815-8127-7c811b3c6691
immo-saver/Muldestausee.jpg/db143738-b0df-4815-8127-7c811b3c6691.jpg
immo-saver/Muldestausee.jpg/e2c44ee1-df4f-418d-b554-94eb06a7714b
immo-saver/Muldestausee.jpg/e2c44ee1-df4f-418d-b554-94eb06a7714b.jpg
immo-saver/Muldestausee.jpg/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b
immo-saver/Muldestausee.jpg/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b.jpg
immo-saver/Muldestausee.jpg/f8c99340-3a1d-40ce-b084-0a3249ae285a
immo-saver/Muldestausee.jpg/f8c99340-3a1d-40ce-b084-0a3249ae285a.jpg
immo-saver/Petersroda/Am Waldrand 13/AmWaldrand13.txt
immo-saver/Petersroda/Am Waldrand 13/immo-img-2.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-3.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-4.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-5.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-6.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-7.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-8.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-9.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-10.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-11.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-12.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-13.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-14.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-15.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-16.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-17.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-18.jpeg
immo-saver/Petersroda/Am Waldrand 13/immo-img-19.jpeg
immo-saver/Waldblick Spröda/1a20a778-4442-458b-94d0-8d96fdb2f44a.jpg
immo-saver/Waldblick Spröda/1da20c50-7b0c-4399-be98-ff652be393e2.jpg
immo-saver/Waldblick Spröda/2a883a6d-b030-44e5-bc22-f3937b36b8ab.jpg
immo-saver/Waldblick Spröda/4a95bebc-137c-4d19-be7b-b971039e3fcb.jpg
immo-saver/Waldblick Spröda/4ad91ecf-f461-4238-91af-ea3563708ae2.jpg
immo-saver/Waldblick Spröda/7b93876b-e0d6-476f-90db-3c9a5dc5b656.jpg
immo-saver/Waldblick Spröda/7f94d701-a56f-4268-b9f5-a080c40d41ba.jpg
immo-saver/Waldblick Spröda/08b378d8-48cb-42d0-83c3-24ba570f520a.jpg
immo-saver/Waldblick Spröda/8f07e06b-ff58-43a5-8d88-112e0c4fa662.jpg
immo-saver/Waldblick Spröda/9c750485-fefe-47f7-ba9f-f96c6be5ebe2.jpg
immo-saver/Waldblick Spröda/49d89a89-a5c1-450c-8b2d-e0d564dfecbb.jpg
immo-saver/Waldblick Spröda/723d5d66-d361-43f9-b4b3-ddbe5d943633.jpg
immo-saver/Waldblick Spröda/742eccaf-e103-4d84-88ba-cc03d0a4be53.jpg
immo-saver/Waldblick Spröda/1997ba5c-f14d-45c6-aa12-8650852ed782.jpg
immo-saver/Waldblick Spröda/03364bea-be18-4737-8ef8-130c31b5afe6.jpg
immo-saver/Waldblick Spröda/151553f5-f321-42e7-ac23-6c9ce879003c.jpg
immo-saver/Waldblick Spröda/7185997f-db7d-4089-b0a4-b5a82f5246fe.jpg
immo-saver/Waldblick Spröda/a4e5ccc7-a1d2-4799-9f11-f3523a2f9a48.jpg
immo-saver/Waldblick Spröda/a41e0460-b91f-4ebe-bb36-31c106b48c1c.jpg
immo-saver/Waldblick Spröda/a59f452a-41d5-4c55-8280-53d6e97fcca3.jpg
immo-saver/Waldblick Spröda/b013d9d9-0ffc-49a7-8744-2a9165ef29a9.jpg
immo-saver/Waldblick Spröda/bd1253ac-fb93-4f03-9025-fa4b2a215de2.jpg
immo-saver/Waldblick Spröda/c4b7dece-d254-4b0a-b1f9-52c4b0ec891c.jpg
immo-saver/Waldblick Spröda/c6b7b729-723c-4e69-8c8e-e46a02c30dc7.jpg
immo-saver/Waldblick Spröda/c8bc62dc-5d7b-45c2-9026-3db1e1b6af3b.jpg
immo-saver/Waldblick Spröda/d23cd3db-5957-4eec-91ea-8814cd16126a.jpg
immo-saver/Waldblick Spröda/d78a56fa-3432-4e8f-bea6-722d6124f0fb.jpg
immo-saver/Waldblick Spröda/d688a540-7fce-4312-b2c4-cf57360fd4af.jpg
immo-saver/Waldblick Spröda/d760c590-1321-4b5b-aa76-a8315a4dc2f6.jpg
immo-saver/Waldblick Spröda/d4533930-9452-4214-af7c-0a14f9396832.jpg
immo-saver/Waldblick Spröda/dcffe7ce-44ff-40c7-a2e3-42626c264714.jpg
immo-saver/Waldblick Spröda/e9c44907-43fe-48ff-a554-7a03b39e7437.jpg
immo-saver/Waldblick Spröda/f311b7df-8b23-40cb-bf42-5e2fb9ca316a.jpg
immo-saver/Waldblick Spröda/title.jpg
immo-saver/Waldblick Spröda/Wohnen im Grünen Idyllisches Einfamilienhaus in Spröda.txt
immo-saver/static/images/title_0.jpg
immo-saver/static/images/title_1.jpeg
immo-saver/templates/map.html
immo-saver/arbeit.json
immo-saver/bahn.json
immo-saver/immo.json
immo-saver/Bitterfeld/Semmelweißstraße 54/3acd87f0-7e44-4d7a-a7d4-58a71d73178a.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/4af6df71-8fc0-4c16-9b8c-a4bdeb15b86b.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/5a423c5b-17d8-476d-b4b8-90c2c728feb6.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/34bc8510-5d30-4e5e-b68b-a9a337e69f6c.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/73a99adb-dd6f-410d-94ec-03b326613b90.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/76b20b07-12fe-4cfb-b435-50dadd3d12ff.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/190d1ed7-581a-4655-ab73-57c5754d76cd.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/283e3b04-e858-4d65-9f7e-9bf9ae4b7206.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/560e6b47-296d-43f6-8283-421ba7217bdb.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/811d9336-91e5-4024-8df4-6db64f9c501a.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/851bc6c2-324e-417b-8790-972afa7aa19e.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/5247d485-600d-4b6c-a987-93ad7be09643.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/40796f5e-b77d-4e56-9876-bb78ecb68fd2.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/665618ed-f986-40f4-aca6-1ca57160df96.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/53474005-4e42-449b-8c96-7add14582b76.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/66566176-4b9c-4030-8a11-a9ac7b67b747.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/a9d35785-d93f-4caf-9352-0e1eca71a34a.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/a572e2a8-4c53-45a6-ba9f-b6054fa8a47a.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/aecf170f-0e2d-4506-95b2-e8bc36978c34.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/b8205af7-26d6-40c1-8311-5c52016ff96c.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/bef1b205-0600-4c4f-93c9-8aa9f15cd55c.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/c9af7436-8d9f-4a8f-8bbe-5a09c3b02928.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/ca267700-4ba5-41a1-addc-ef7091a4b933.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/ce74a72e-8238-4f7a-82da-6b2cf134e38c.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/cedc98b4-4fc1-4edc-a36f-94e46a4e62b7.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/d50fd453-3fb9-476e-a9ab-b527fcc7abba.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/d298e6e7-bb9e-4d16-a0b4-1d84a18d606e.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/dc0eae66-ab97-4d97-afe2-b15ba8f98916.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/ed52d43c-5135-4272-9954-6340ad69fa08.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/ef9d7cee-202d-45a2-b9d5-2ee56dd20350.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/f6c5da53-c857-4c62-835e-593a99852e8e.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/fc5146a0-84ca-4df2-b51a-aa9710cb3b2e.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/fce91d4d-e020-455e-b412-4ed5c7867ed6.jpg
immo-saver/Bitterfeld/Semmelweißstraße 54/Großzügiges Einfamilienhaus in Bitterfeld.txt
immo-saver/Landsberg/Neuer Ordner/0d05cda6-fdfd-41b7-bf33-36af65a62f0a.jpg
immo-saver/Landsberg/Neuer Ordner/2a159ce1-2598-4e54-bcee-c0afe7dcf261.jpg
immo-saver/Landsberg/Neuer Ordner/03cd23e7-ebc4-4378-81bb-9585f1cbc387.jpg
immo-saver/Landsberg/Neuer Ordner/66be19af-4009-4758-b50e-5ff789fff64b.jpg
immo-saver/Landsberg/Neuer Ordner/457e0d53-cdbc-4acd-b3a0-e667fc3aa8b0.jpg
immo-saver/Landsberg/Neuer Ordner/9674a95a-d52d-4f4f-8524-a3a12859c8fa.jpg
immo-saver/Landsberg/Neuer Ordner/14614d82-2a61-4b65-b266-e4e9b7dd56c7.jpg
immo-saver/Landsberg/Neuer Ordner/275697b7-ff56-4939-99d9-deebfe316928.jpg
immo-saver/Landsberg/Neuer Ordner/405533ef-b4fe-4dfd-87b0-08d24f28e022.jpg
immo-saver/Landsberg/Neuer Ordner/850016a2-421f-4f83-a72c-2dc3d769597d.jpg
immo-saver/Landsberg/Neuer Ordner/a7440980-139a-4d3a-8229-0912bd6a1f84.jpg
immo-saver/Landsberg/Neuer Ordner/d70e09cc-2d3a-4f5c-b2da-7346891951be.jpg
immo-saver/Landsberg/Neuer Ordner/d93be76d-9a41-4482-b906-047a54a93d9d.jpg
immo-saver/Landsberg/Neuer Ordner/db5f6544-08de-420b-9d71-c65665e74e93.jpg
immo-saver/Muldestausee/9e502d39-4fca-45a7-93d9-3641ffa03b9a
immo-saver/Muldestausee/9e502d39-4fca-45a7-93d9-3641ffa03b9a.jpg
immo-saver/Muldestausee/14b461f7-8a3e-4882-9bab-8a93e57a212d
immo-saver/Muldestausee/14b461f7-8a3e-4882-9bab-8a93e57a212d.jpg
immo-saver/Muldestausee/33f188f8-dcb3-475b-96b1-c538c5df7ffd
immo-saver/Muldestausee/33f188f8-dcb3-475b-96b1-c538c5df7ffd.jpg
immo-saver/Muldestausee/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d
immo-saver/Muldestausee/78ed6502-57ce-4aa2-a2d8-c6a413c03e9d.jpg
immo-saver/Muldestausee/8253a7a1-a5b6-427a-8c2d-4a3f7369640c
immo-saver/Muldestausee/8253a7a1-a5b6-427a-8c2d-4a3f7369640c.jpg
immo-saver/Muldestausee/101150dc-e8c7-4998-837a-282a2b893e77
immo-saver/Muldestausee/101150dc-e8c7-4998-837a-282a2b893e77.jpg
immo-saver/Muldestausee/ac207db1-5697-4160-befd-97a5e760f797
immo-saver/Muldestausee/ac207db1-5697-4160-befd-97a5e760f797.jpg
immo-saver/Muldestausee/db143738-b0df-4815-8127-7c811b3c6691
immo-saver/Muldestausee/db143738-b0df-4815-8127-7c811b3c6691.jpg
immo-saver/Muldestausee/e2c44ee1-df4f-418d-b554-94eb06a7714b
immo-saver/Muldestausee/e2c44ee1-df4f-418d-b554-94eb06a7714b.jpg
immo-saver/Muldestausee/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b
immo-saver/Muldestausee/e40977b5-c8ff-47d6-90cd-2cf499b8cf7b.jpg
immo-saver/Muldestausee/f8c99340-3a1d-40ce-b084-0a3249ae285a
immo-saver/Muldestausee/f8c99340-3a1d-40ce-b084-0a3249ae285a.jpg
immo-saver/Landsberg/Neuer Ordner/Großzügiges Einfamilienhaus.txt
immo-saver/static/images/title_2.jpg
immo-saver/static/images/title_3.jpg
